<form method="post" action="{{ path('app_prerempli_delete', {'id': prerempli.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce pré-rempli?');" class="m-0">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ prerempli.id) }}">
    <button class="btn"><i class="fa-solid fa-circle-xmark fa-2xl" style="color: #ff0000;"></i></button>
</form>
