{% extends 'base.html.twig' %}

{% block title %}create{% endblock %}

{% block body %}
    <h1>Nouvelle mission</h1>

    {{ include('missions/_form.html.twig') }}

    <a href="{{ path('app_missions_index') }}">Retour à la liste des missions</a>
{% endblock %}
