{% extends 'base.html.twig' %}

{% block title %}create{% endblock %}

{% block body %}
    <h1 class="text-center">Nouvelle mission</h1>

    {{ include('missions/_form.html.twig') }}

    <a href="{{ path('app_missions_index') }}" class="btn btn-lg btn-bleu d-grid gap-2 col-6 mx-auto my-2">Retour à la liste des missions</a>
{% endblock %}
