{% extends 'base.html.twig' %}

{% block title %}create{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center"><a class="btn btn-lg btn-bleu my-2 mx-auto" href="{{ path('app_missions_index') }}"><i class="fa-solid fa-arrow-left"></i> Retour</a></div>
    <h1 class="text-center">Nouvelle mission</h1>

    {{ include('missions/_form.html.twig') }}

{% endblock %}
