{% extends 'base.html.twig' %}

{% block title %}New Statuts{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div class="d-flex justify-content-center">
                <a class="btn btn-lg btn-bleu my-2 mx-auto" href="{{ path('app_statuts_index') }}">
                    <i class="fa-solid fa-arrow-left"></i> 
                    Retour
                </a>
            </div>
            <h1>Nouveau statut</h1>
            {{ include('_partials/_form.html.twig') }}
        </div>
    </div>
{% endblock %}
