<form method="post" action="{{ path('app_champs_delete', {'id': champ.id}) }}" onsubmit="return confirm('Etes-vous sûr de vouloir supprimer ce champ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ champ.id) }}">
    <button class="btn">Delete</button>
</form>
