{% extends 'base.html.twig' %}

{% block title %}Edit Champs{% endblock %}

{% block body %}
    <h1 class="text-center">Modifier un champ</h1>

    {{ include('_partials/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    <a href="{{ path('app_champs_index') }}" class="btn btn-lg btn-bleu d-grid gap-2 col-6 mx-auto my-2">Retour à la liste</a>

    {{ include('champs/_delete_form.html.twig') }}
{% endblock %}
